# deps
node_modules/

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# local storage for uploaded files (dev)
storage/uploads/*
!storage/uploads/.gitkeep

# prisma
prisma/dev.db*

# vercel
.vercel

# editor
.vscode/*
!.vscode/extensions.json
.idea/
